* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Balinese";
  src: url("../fonts/Balinese.ttf") format("truetype");
}

.h1-judul {
  font-size: 28px;
  font-weight: bold;
  margin-top: 46px;
  margin-bottom: 16px;
}

/* body {
  height: 8444px;
} */

.hero__box-left {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 3px solid #fff;
  top: 25%;
  left: 25%;
  z-index: 99;
  transform: rotate(-3deg);
}

.silde-satu {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
}

#carousel-satu .carousel-item {
  width: 100%;
  height: 100vh;
  background: no-repeat center center scroll rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: darken;
}

.img-ornament {
  width: 100%;
}

.deskripsi-nama {
  font-size: 52px;
  font-weight: bold;
  margin: 2px 0;
  font-family: "Allura", cursive;
  color: white;
  text-align: center;
}

.deskripsi-judul {
  color: white;
  text-align: center;
  margin-bottom: 32px;
}

#carousel-dua .carousel-item {
  width: 100%;
  height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  position: relative;
  z-index: 100;
  margin-top: 950px;
}

.h1-info {
  font-size: 32px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 36px;
  font-family: "Allura", cursive;
}

.card-nama {
  font-family: "Allura", cursive;
  font-weight: bold;
  font-size: 28px;
}

.acara-icons {
  font-family: "Allura", cursive;
  font-weight: bold;
  margin: 0;
}

.info {
  background-color: white;
  padding-bottom: 64px;
}

.acara {
  background-color: #e5e5e5;
  padding-bottom: 64px;
  margin-top: -1px;
}

.galery {
  background-color: white;
  padding-bottom: 80px;
  margin-top: -1px;
}

.kontak {
  background-color: #e5e5e5;
  padding-bottom: 64px;
}

.syukur {
  background-color: #e5e5e5;
  padding-top: 64px;
  margin-top: -1px;
}

.waktu {
  height: 200px;
}

.footer {
  background-color: white;
  margin-top: -1px;
  height: 60px;
}

.card-radius {
  border-radius: 20px;
}

.card-container {
  margin-top: 64px;
}

.img-content {
  border-radius: 20px;
  width: 80%;
  display: block;
  margin: 40px auto 0;
}

.slide .container-caption {
  margin-top: 400px;
}

.slide-dua {
  margin-top: -1px;
}

.slide-dua .carousel-item {
  height: 200px;
}

.kontak-container {
  background-color: white;
}

.carousel__track,
.fancybox__counter,
.fancybox__button--thumbs,
.fancybox__button--slideshow,
.fancybox__button--fullscreen,
.fancybox__button--zoom {
  display: none !important;
}

.form-control,
.form-select {
  border: 0px;
  background-color: #fafafa;
}

@media (max-width: 1440px) {
  .content {
    margin-top: 1200px;
  }
}

@media (max-width: 1024px) {
  .content {
    margin-top: 1000px;
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 900px;
  }
}

@media (max-width: 425px) {
  .hero__box-left {
    width: 50%;
    height: 25%;
    /* top: 30%; */
    /* justify-content: center; */
  }

  .content {
    margin-top: 700px;
  }

  .card-radius {
    border-radius: 10px;
  }

  .form-container {
    margin-top: 36px;
  }

  .card-1 {
    margin-bottom: 36px;
  }

  .card-2 {
    margin-top: 36px;
  }

  .carousel-img {
    width: 100%;
    height: 100vh !important;
  }

  .deskripsi-nama {
    margin: 16px 0;
    font-size: 32px;
  }

  .card-nama {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  .content {
    margin-top: 700px;
  }
}
